:root {
  --fiery-rose: #f45b69;
  --deep-champagne: #fbd1a2;
  --pale-cerulean: #87c5ee;
  --royal-blue: #0b1d51;
  --rufous: #af6959;
  --middle-blue-purple: #7d82b8;
  --nice-shadow: 0 1px 2px rgba(32, 33, 36, 0.5);
  --alegreya: "Alegreya", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: hidden;
}

body {
  width: 100%;
  min-height: 100%;
  background: #f5f5dc;
  font-family: "Source Sans Pro", sans-serif;
}

.darkened {
  filter: brightness(0.6);
}

button {
  font-family: "Inconsolata", monospace;
  font-size: small;
  color: var(--deep-champagne);
  text-transform: uppercase;
  background: none;
  background-color: var(--royal-blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em 1em;
  letter-spacing: 0.1rem;
}

button:hover {
  box-shadow: var(--nice-shadow);
}

header {
  margin: 0;
  font-family: var(--alegreya);
}

.title {
  padding: 1.5em 1em 1em 1em;
  color: var(--rufous);
  text-align: center;
  font-weight: bolder;
}

#add-book {
  padding: 1em;
}

main {
  margin: 0.5rem auto;
}

.controls {
  display: grid;
  place-items: center;
}

.library {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.book-card {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 1vh 1vw;
  padding: 1ch;
  border-radius: 25px;
  background: linear-gradient(105deg, var(--rufous), var(--middle-blue-purple));
  color: #2f4858;
  box-shadow: var(--nice-shadow);
  min-width: 30vw;
  min-height: 2rem;
}

.book-card h2 {
  color: #2f0601;
  text-shadow: var(--nice-shadow);
  font-weight: bolder;
  font-family: var(--alegreya);
}

.book-card p {
  font-size: small;
}

.book-info {
  margin: 0.5vh auto;
}

.form-display {
  display: grid;
  place-items: center;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #e4e6c3;
  box-shadow: var(--nice-shadow);
  font-weight: bolder;
  min-width: 30vw;
  height: auto;
  margin: 1ch 2ch;
  padding: 1ch;
  border-radius: 25px;
  transform: translate(-50%, -50%) scale(0);
}

.form-popup:focus {
  box-shadow: 0 1px 2px rgba(1, 1, 1, 1);
}

.close-div,
.remove-book-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.remove-book-div {
  margin: 0;
}

.close-form,
.remove-book {
  text-align: center;
  letter-spacing: normal;
  width: 2em;
  height: 2em;
  background-color: var(--fiery-rose);
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.close-form:hover,
.remove-book:hover {
  box-shadow: none;
}

.popup-active {
  transform: translate(-50%, -50%) scale(1);
}

.book-form {
  display: grid;
  margin: 0.5em auto;
  place-items: center;
}

.form-inputs {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1ch;
  margin: 1em 0;
}

.status-button {
  color: var(--royal-blue);
}

.read-button {
  background-color: var(--pale-cerulean);
}

.unread-button {
  background-color: var(--fiery-rose);
}

#read {
  height: 30px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

#read:hover {
  border-color: #888;
}

.unread-book {
  background: linear-gradient(105deg, darkgray, #5d6874);
  color: var(--deep-champagne);
}
